<?xml version="1.0" encoding="ISO-8859-1"?>
<!--
 Licensed to the Apache Software Foundation (ASF) under one or more
  contributor license agreements.  See the NOTICE file distributed with
  this work for additional information regarding copyright ownership.
  The ASF licenses this file to You under the Apache License, Version 2.0
  (the "License"); you may not use this file except in compliance with
  the License.  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->

<web-app xmlns="http://java.sun.com/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
                      http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
  version="3.0"
  metadata-complete="true">

  <display-name>Welcome to Tomcat</display-name>
  <description>
     Welcome to Tomcat
  </description>
	<servlet>
        <servlet-name>Hello</servlet-name>
        <servlet-class>helloservlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Hello</servlet-name>
		<url-pattern>/hello</url-pattern>
	</servlet-mapping>
	
	<servlet>
        <servlet-name>HelloPage</servlet-name>
        <servlet-class>form</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>HelloPage</servlet-name>
		<url-pattern>/hellopage</url-pattern>
	</servlet-mapping>
	
	<servlet>
        <servlet-name>HelloWorld</servlet-name>
        <servlet-class>hello</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>HelloWorld</servlet-name>
		<url-pattern>/helloworld</url-pattern>
	</servlet-mapping>
	
   <servlet>
        <servlet-name>Date</servlet-name>
        <servlet-class>dateservlet</servlet-class>
		</servlet>
		<servlet-mapping>
		<servlet-name>Date</servlet-name>
		<url-pattern>/date</url-pattern>
		</servlet-mapping>
		
	<servlet>
        <servlet-name>HolisticCount</servlet-name>
        <servlet-class>holisticcounter</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>HolisticCount</servlet-name>
		<url-pattern>/hcounter</url-pattern>
	</servlet-mapping>
	
	<servlet>
        <servlet-name>Count</servlet-name>
        <servlet-class>countservlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Count</servlet-name>
		<url-pattern>/count</url-pattern>
	</servlet-mapping>
	
	<servlet>
        <servlet-name>InitCount</servlet-name>
        <servlet-class>InitCounter</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>InitCount</servlet-name>
		<url-pattern>/init</url-pattern>
	</servlet-mapping>
	
	<servlet>
        <servlet-name>Snoop</servlet-name>
        <servlet-class>snoopserver</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Snoop</servlet-name>
		<url-pattern>/snoop</url-pattern>
	</servlet-mapping>
	
	<servlet>
        <servlet-name>Header</servlet-name>
        <servlet-class>serverheader</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Header</servlet-name>
		<url-pattern>/header</url-pattern>
	</servlet-mapping>
	
	<servlet>
        <servlet-name>Dice</servlet-name>
        <servlet-class>dice</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Dice</servlet-name>
		<url-pattern>/rolldice</url-pattern>
	</servlet-mapping>
	
	<servlet>
        <servlet-name>Parameter</servlet-name>
        <servlet-class>initparam</servlet-class>
		<init-param>  
			<param-name>username</param-name>  
			<param-value>admin</param-value>  
		</init-param>  
		<init-param>  
			<param-name>password</param-name>  
			<param-value>123</param-value>  
		</init-param>  
	</servlet>
	<servlet-mapping>
		<servlet-name>Parameter</servlet-name>
		<url-pattern>/initparameter</url-pattern>
	</servlet-mapping>
	
	<servlet>
        <servlet-name>Time</servlet-name>
        <servlet-class>timerefresh</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Time</servlet-name>
		<url-pattern>/time</url-pattern>
	</servlet-mapping>
	
	<servlet>
        <servlet-name>LoginPage</servlet-name>
        <servlet-class>loggedinpage</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginPage</servlet-name>
		<url-pattern>/loggedin</url-pattern>
	</servlet-mapping>
	
	<servlet>
        <servlet-name>Hobby</servlet-name>
        <servlet-class>checkform</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Hobby</servlet-name>
		<url-pattern>/hobbies</url-pattern>
	</servlet-mapping>

		<servlet>
        <servlet-name>Session</servlet-name>
        <servlet-class>sessioncheck</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Session</servlet-name>
		<url-pattern>/session</url-pattern>
	</servlet-mapping>
	
	<servlet>
        <servlet-name>Sessionb</servlet-name>
        <servlet-class>booleansession</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Sessionb</servlet-name>
		<url-pattern>/asession</url-pattern>
	</servlet-mapping>
	  <servlet>
    <servlet-name>PreExistingSession</servlet-name>
    <servlet-class>PreExistingSession</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PreExistingSession</servlet-name>
    <url-pattern>/PreExistingSession</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>AccessTimeSession</servlet-name>
    <servlet-class>AccessTimeSession</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AccessTimeSession</servlet-name>
    <url-pattern>/AccessTimeSession</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>ValueSession</servlet-name>
    <servlet-class>ValueSession</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ValueSession</servlet-name>
    <url-pattern>/ValueSession</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>CounterSessionServlet</servlet-name>
    <servlet-class>CounterSessionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CounterSessionServlet</servlet-name>
    <url-pattern>/CounterSessionServlet</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>ServletInsertingData</servlet-name>
    <servlet-class>ServletInsertingData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletInsertingData</servlet-name>
    <url-pattern>/ServletInsertingData</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>ServletFetchingData</servlet-name>
    <servlet-class>ServletFetchingData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletFetchingData</servlet-name>
    <url-pattern>/ServletFetchingData</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>ServletInsertingDataUsingHtml</servlet-name>
    <servlet-class>ServletInsertingDataUsingHtml</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletInsertingDataUsingHtml</servlet-name>
    <url-pattern>/ServletInsertingDataUsingHtml</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>ServletFetchingDataFromDatabase</servlet-name>
    <servlet-class>ServletFetchingDataFromDatabase</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletFetchingDataFromDatabase</servlet-name>
    <url-pattern>/ServletFetchingDataFromDatabase</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>ServletNaturalJoiningTables</servlet-name>
    <servlet-class>ServletNaturalJoiningTables</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletNaturalJoiningTables</servlet-name>
    <url-pattern>/ServletNaturalJoiningTables</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>ServletCookies</servlet-name>
    <servlet-class>ServletCookies</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletCookies</servlet-name>
    <url-pattern>/ServletCookies</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>AccessServletCookie</servlet-name>
    <servlet-class>AccessServletCookie</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AccessServletCookie</servlet-name>
    <url-pattern>/AccessServletCookie</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>HiddenFormField</servlet-name>
    <servlet-class>HiddenFormField</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HiddenFormField</servlet-name>
    <url-pattern>/HiddenFormField</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>AccessHiddenFormField</servlet-name>
    <servlet-class>AccessHiddenFormField</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AccessHiddenFormField</servlet-name>
    <url-pattern>/AccessHiddenFormField</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>AccessURLdata</servlet-name>
    <servlet-class>AccessURLdata</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AccessURLdata</servlet-name>
    <url-pattern>/AccessURLdata</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>URLRewriting</servlet-name>
    <servlet-class>URLRewriting</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>URLRewriting</servlet-name>
    <url-pattern>/URLRewriting</url-pattern>
  </servlet-mapping>

  <servlet>  
    <servlet-name>loggedIn</servlet-name>  
    <servlet-class>loggedIn</servlet-class>  
  </servlet>  
  
  <servlet-mapping>  
    <servlet-name>loggedIn</servlet-name>  
    <url-pattern>/loggedIn</url-pattern>  
  </servlet-mapping>  
    
  <filter>  
    <filter-name>loginFilter</filter-name>  
    <filter-class>loginFilter</filter-class>  
  </filter>  
  <filter-mapping>  
    <filter-name>loginFilter</filter-name>  
    <url-pattern>/loggedIn</url-pattern>  
  </filter-mapping>  
</web-app>
